#form-box{
position: absolute;
width: 570px;
height: 490px;
left: 438px;
top: 100px;
padding-left:50px;
background: rgba(255, 255, 255, 0.2);
border: 1px solid #ABABAB;
box-sizing: border-box;
border-radius: 4px;
}

.btn-style{
    height: 50px;
background: #F9A51A;
align-items: center;
position: absolute;
left: 90px;
top: 321px;
}
#form-box p{
position: absolute;
width: 231px;
height: 22px;
left: 160px;
top: 385px;
}
.or-style{
position: absolute;
left: 695px;
top: 595px;

}

.fb-account{
position: absolute;
width: 461px;
height: 51px;
left: 492px;
top: 650px;

background: #FFFFFF;
border: 1px solid #C7C7C7;
box-sizing: border-box;
border-radius: 57px;
}
.google-account{
    position: absolute;
width: 461px;
height: 51px;
left: 492px;
top: 720px;

background: #FFFFFF;
border: 1px solid #C7C7C7;
box-sizing: border-box;
border-radius: 57px;
}


.fb-icon{
position: absolute;
left: 30px;
bottom:8px;
}
